Stone[[:space:]]Mountain[[:space:]]Highland[[:space:]]games[[:space:]]Clan[[:space:]]Challenge[[:space:]]Caber[[:space:]]Toss[[:space:]]2021[[:space:]][ymgIPGmkmc0].mp4 filter=lfs diff=lfs merge=lfs -text
