body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #E8E7E3;
    box-shadow: 0px 5px 7px #DDD;
}

ul.topnav li {
    float: left;
}

ul.topnav h1 {
    display: block;
    text-align: center;
    color: #4E4D4C;
    margin-left: 1em;
    margin-right: 1em;
    font-size: x-large;
    text-shadow: 1px 1px 3px #DDD;
}

ul.topnav li a {
    display: block;
    color: #4E4D4C;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: large;
}

ul.topnav li a:hover:not(.active) {
    background-color: #8B8B8B;
    color: #E8E7E3;
}

ul.topnav li a.active {
    background-color: #3F3F3F;
    color: #E8E7E3;
    box-shadow: 0 0 8px #8B8B8B;
}

ul.topnav li.right {
    float: right;
}

.heading {
    height: auto;
    margin-top: 3em;
    margin-left: 1em;
}

p {
    height: auto;
    margin-left: 4em;
}

table {
    border: 1px solid black;
    margin-left: 4em;
}

table th {
    display: block;
    text-align: center;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
        float: none;
    }
    .heading {
        margin-top: 10em;
    }
}