@import url(./roboto-fonts-css2.css);
@import url(./fontawesome/all.min.css);

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #111;
    background-color: #FCFCFC;
    letter-spacing: 0.03em;
    font-display: swap
}

/* top navigation bar 顶部工具栏 */

ul.topnav {

    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 100;
    list-style-type: none;
    background-color: #E8E7E3;
    box-shadow: 0px 2px 3px #888;
}

ul.topnav li {
    float: left;
}

ul.topnav h1 {
    display: block;
    text-align: center;
    color: #4E4D4C;
    margin-left: 1em;
    margin-right: 1em;
    font-size: x-large;
    text-shadow: 1px 1px 3px #DDD;
    user-select: none;
}

ul.topnav li a {
    display: block;
    color: #4E4D4C;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: large;
    transition-duration: 0.4s;
}

ul.topnav li a:hover:not(.active) {
    background-color: #8B8B8B;
    color: #E8E7E3;
    box-shadow: 0 0 8px #8B8B8B;
    transition-duration: 0.4s;
}

ul.topnav li a.active {
    background-color: #3F3F3F;
    color: #E8E7E3;
    box-shadow: 0 0 8px #8B8B8B;
}

ul.topnav li.right {
    float: right;
}

/* second level top navigation bar 顶部工具栏二级菜单 */

ul.topnav li ul {
    margin-right: 3em;
    display: none;
}

ul.topnav li:hover ul {
    background-color: #E8E7E3;
    left: 0%;
    width: 100%;
    position: fixed;
    display: block;
    margin: 0;
    padding-left: 0;
}

ul.topnav li ul li {
    float: right;
    list-style: none;
}

ul.topnav li ul li a {
    border-radius: 3px;

    text-decoration: none;
    padding: 8px 24px;
    margin: 8px 12px;
}




/* ----------------------------------------- */
/* side bar 侧边工具栏 */

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding-left: 1%;
    padding-top: 8em;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    left: 80%;
    height: 100%;
    overflow: auto;
    z-index: 99;
    box-shadow: 0 0px 8px #8B8B8B;
    animation: sidenav 0.1s forwards ease-out;
}

li a.sidenav {
    display: block;
    color: #4E4D4C;
    padding: 0.4em 0.8em;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.2em;
    transition-duration: 0.4s;
}

li a.sidenav:hover {
    border-radius: 3px;
    background-color: #8B8B8B;
    color: #E8E7E3;
    box-shadow: 0 0px 8px #8B8B8B;
    transition-duration: 0.4s;
}

/* 纠正页内锚点偏移 */

.offset {
    margin-top: -3em;
    padding-top: 3em;
}

.button_right {
    position: relative;
    margin-left: 65%;
    transition-duration: 0.4s;
}

.heading_banner {
    height: auto;
    margin-top: 3em;
    margin-left: 1em;
}

.link {
    color: #E8E7E3;
    text-decoration: none;
}

.heading {
    height: auto;
    margin-top: 1em;
    margin-left: 1em;
}

h2 {
    height: auto;
    margin-top: 1em;
    margin-left: 2em;
}

p {
    margin-left: 3em;
    margin-right: calc(20% + 2em);
    margin-bottom: 0em;
}

ul {
    margin-left: 2.5em;
}

img {
    width: calc(100% - 16px);
    margin: 8px;
}

.list {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.button {
    background-color: #3F3F3F;
    border: none;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 8px #8B8B8B;
    padding: 0.4em 0.8em;
    text-align: center;
    text-decoration: none;
    color: #E8E7E3;
    display: inline-block;
    font-size: 1.3em;
    transition-duration: 0.4s;
}

.button:hover {
    transition-duration: 0.4s;
    background-color: #8B8B8B;
    color: #f1f1f1;
    box-shadow: 0 0 2px #8B8B8B
}

table {
    border: 1px solid black;
    margin-left: 4em;
}

table th {
    display: block;
    text-align: center;
}

code {
    position: relative;
    margin-left: 2em;
    margin-right: calc(20% + 2em);
    font-family: Arial, Helvetica, sans-serif;
}

i {
    margin-right: 0.5ch;
}

footer {
    color: #747474;
    position: relative;
    width: 80%;
    margin-left: 0;
    text-align: center;
    font-size: 0.9em;
}

@media screen and (max-width: 720px) {
    ul.topnav {
        position: relative;
    }

    ul.topnav li.right, ul.topnav li {
        float: none;
    }

    ul.topnav h1 {
        font-size: 1.5em;
        height: 0.6em;
    }

    .heading_banner {
        margin-top: 1em;
    }

    ul.sidenav {
        visibility: hidden;
    }

    footer {
        width: 100%;
    }

    code {
        margin-right: 4em;
    }

    p {
        margin-left: 2.5em;
        margin-right: 2em;
    }
}

@media screen and (max-width: 900px) {
    .button_right {
        position: relative;
        margin-left: 60%;
        transition-duration: 0.4s;
    }
}

/* @keyframes body {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes topnav {
    from {
        top: -20%;
    }
    to {
        top: 0;
    }
} */

@keyframes sidenav {
    from {
        left: 100%;
    }

    to {
        left: 80%;
    }
}